<!--
<div class="clock-container clock2">
  <div>London Clock</div><br><br>
  <div>{{date}}</div>
</div>
-->


<div class="clock-container clock2">
  <div>London Clock</div><br>
  <div class="format">
    <span (click)="stop()" *ngIf="flag">{{ hour }} : </span>
    <span *ngIf="!flag"> <input [(ngModel)]="hour" type="number" (keyup.enter)="stop()"></span>
    <span (click)="stop()" *ngIf="flag">{{ minute }} : </span>
    <span *ngIf="!flag"> <input [(ngModel)]="minute" type="number" (keyup.enter)="stop()"></span>
    <span (click)="stop()" *ngIf="flag">{{ second }} : </span>
    <span *ngIf="!flag"> <input [(ngModel)]="second" type="number" (keyup.enter)="stop()"></span>
    <span (click)="stop()" *ngIf="flag">{{ ampm }}</span>
  </div>
</div>




<!--{{ today | date:'hh : mm : ss : a' }}-->

